{% extends 'home/_base.html' %}
{% load static %}

{% block content %}
   <!-- Banner area start -->
 <section class="banner-3-section p-relative text-center">
   <div class="banner-slider p-relative z-0">
      <div class="swiper-wrapper">
         {% for i in banner %}
            <div class="swiper-slide">
               <div class="banner-slider-area" data-background="{{ i.image.url }}">
                  <h5>{{ i.description }}</h5>
                  <h1>{{ i.title }}</h1>
               </div>
            </div>
         {% endfor %}
      </div>
   </div>
   <!-- If we need navigation buttons -->
   <div class="banner-slider-navigation-wrapper position-relative">
      <div class="common-slider-navigation">
         <button class="banner-button-custom-prev"><i class="fal fa-arrow-left-long"></i></button>
         <button class="banner-button-custom-next"><i class="fal fa-arrow-right-long"></i></button>
      </div>
   </div>
   <!-- If we need pagination -->
   <div class="banner-custom-pagination"></div>
 </section>
   <!-- Banner area end -->

   <!-- Services area start -->
   <section class="service-section style-2 p-relative">
      <div class="shape-topo">
         <img src="{% static 'imgs/services/service-topo.png' %}" alt="shape">
      </div>
      <div class="shape-bus">
         <img src="{% static 'imgs/services/service-topo.png' %}" alt="shape">
      </div>
      <div class="container">
         <div class="swiper service-active-2">
            <div class="swiper-wrapper">
               {% for i in services %}
                  <div class="swiper-slide">
                     <div class="service-main-box box-shadow-1">
                        <div class="icon-area">
                           <img src="{{ i.svg.url }}" alt="icon">
                           <span>{{ forloop.counter }}</span>
                        </div>
                        <h4><a href="service-details.html">{{ i.title }}</a></h4>
                        <p>{{ i.description }}</p>
                        <div class="image-area p-relative">
                           <a class="service-btn" href="service-details.html"><i class="icon-42"></i></a>
                           <a class="w-img" href="service-details.html"><img src="{{ i.image.url }}" alt="service-image"></a>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </section>
   <!-- Services area end -->

   <!-- About area start -->
   <section class="about-3-section p-relative section-space bg-color-2">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="about-3-content pr-100">
                  <div class="title-box wow mb-40 fadeInRight" data-wow-delay="500ms">
                     <h5 class="section-sub-title">About Us</h5>
                     <h2 class="section-title mb-20">{{ about.title }}</h2>
                     <p>{{ about.description }}</p>
                  </div>
                  <div class="list-area">
                     <ul>
                        <li>FCL</li>
                        <li>LCL</li>
                        <li>Air Freight</li>
                     </ul>
                     <ul>
                        <li>Warehousing</li>
                        <li>Customs Cleaning</li>
                        <li>Pickup and Delivery</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="about-3-image-area p-relative pt-90">
                  <figure class="image-one">
                     <img src="{{ about.image_1.url }}" alt="about-image-1">
                  </figure>
                  <figure class="image-two">
                     <img src="{{ about.image_2.url }}" alt="about-image-2">
                  </figure>
                  <div class="about-2-counter three" data-background="assets/imgs/about/about-circle.png">
                     <h1 class="counter">{{ about.years }}</h1>
                     <h4>Years</h4>
                     <h4><span>Experience</span></h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- About area end -->

   <!-- Request Form area start -->
   <section class="request-form-section section-space-top p-relative" data-background="{{ images.quote_background.url }}">
      <div class="shape" data-background="assets/imgs/form/req-shape.png"></div>
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="req-form-area p-relative" data-background="assets/imgs/form/req-from-bg.jpg">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                     <li class="nav-item" role="presentation">
                       <button class="nav-link active" id="pills-air-tab" data-bs-toggle="pill" data-bs-target="#pills-air" type="button" role="tab" aria-controls="pills-air" aria-selected="true">
                        <i class="icon-11"></i>
                        Air Freight
                     </button>
                     </li>
                     <li class="nav-item" role="presentation">
                       <button class="nav-link" id="pills-road-tab" data-bs-toggle="pill" data-bs-target="#pills-road" type="button" role="tab" aria-controls="pills-road" aria-selected="false">
                        <i class="icon-12"></i>
                        Road Freight
                     </button>
                     </li>
                     <li class="nav-item" role="presentation">
                       <button class="nav-link" id="pills-ocean-tab" data-bs-toggle="pill" data-bs-target="#pills-ocean" type="button" role="tab" aria-controls="pills-ocean" aria-selected="false">
                        <i class="icon-12"></i>
                        Ocean Freight
                     </button>
                     </li>
                   </ul>
                   <div class="tab-content" id="pills-tabContent">
                        <!-- tab-block -->
                     <div class="tab-pane fade show active" id="pills-air" role="tabpanel" aria-labelledby="pills-air-tab">
                        <div class="title-box mb-20">
                           <h5 class="section-sub-title">Request Form</h5>
                           <h2 class="section-title">Request Quote Form</h2>
                        </div>
                        <form action="#">
                           <div class="row">
                              <div class="col-lg-12">
                                 <label>Personal Information</label>
                                 <input type="text" placeholder="Name">
                              </div>
                              <div class="col-lg-6">
                                 <input type="email" placeholder="Email">
                              </div>
                              <div class="col-lg-6">
                                 <input type="tel" placeholder="Phone">
                              </div>
                              <div class="col-lg-12">
                                 <div class="km-range-area">
                                    <label>Distance In (Kilometer)</label>

                                    <div class="range-slider-1" data-range-min="50" data-range-max="500"
                                        data-limit="500" data-start-min="50" data-start-max="300"
                                        id="range-slider-1"></div>

                                    <div class="form-group">
                                        <div class="inner p-relative">
                                            <p><span id="max-value-rangeslider-1"></span> KM</p>
                                        </div>
                                    </div>

                                </div>
                              </div>
                              <div class="col-lg-6">
                                 <label>Freight Type</label>
                                 <div class="select-box">
                                    <div class="nice-select wide" tabindex="0">
                                       <span class="current">Select</span>
                                       <ul class="list">
                                          <li data-value="Select" data-display="Select" class="option selected focus">Select</li>
                                          <li data-value="1" class="option">Type One</li>
                                          <li data-value="2" class="option">Type Two</li>
                                          <li data-value="3" class="option">Type Three</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <label>Load</label>
                                 <div class="select-box">
                                    <div class="nice-select wide" tabindex="0">
                                       <span class="current">Select</span>
                                       <ul class="list">
                                          <li data-value="Select" data-display="Select" class="option selected focus">Select</li>
                                          <li data-value="1" class="option">Load One</li>
                                          <li data-value="2" class="option">Load Two</li>
                                          <li data-value="3" class="option">Load Three</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="btn-area">
                                    <button class="primary-btn-2 btn-hover" type="submit">
                                       Get a Quote
                                       <i class="icon-42"></i>
                                       <span style="top: 147.172px; left: 108.5px;"></span>
                                    </button>
                                    <div class="call-us">
                                       <h5>Or Give us a call </h5>
                                       <a href="tel:+0123456789">+0123 4567 89</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                        <!-- tab-block -->
                     <div class="tab-pane fade" id="pills-road" role="tabpanel" aria-labelledby="pills-road-tab">
                        <div class="title-box mb-20">
                           <h5 class="section-sub-title">Request Form</h5>
                           <h2 class="section-title">Request Quote Form</h2>
                        </div>
                        <form action="#">
                           <div class="row">
                              <div class="col-lg-12">
                                 <label>Personal Information</label>
                                 <input type="text" placeholder="Name">
                              </div>
                              <div class="col-lg-6">
                                 <input type="email" placeholder="Email">
                              </div>
                              <div class="col-lg-6">
                                 <input type="tel" placeholder="Phone">
                              </div>
                              <div class="col-lg-12">
                                 <div class="km-range-area">
                                    <label>Distance In (Kilometer)</label>

                                    <div class="range-slider-2" data-range-min="50" data-range-max="500"
                                        data-limit="500" data-start-min="50" data-start-max="300"
                                        id="range-slider-2"></div>

                                    <div class="form-group">
                                        <div class="inner p-relative">
                                            <p><span id="max-value-rangeslider-2"></span> KM</p>
                                        </div>
                                    </div>

                                </div>
                              </div>
                              <div class="col-lg-6">
                                 <label>Freight Type</label>
                                 <div class="select-box">
                                    <div class="nice-select wide" tabindex="0">
                                       <span class="current">Select</span>
                                       <ul class="list">
                                          <li data-value="Select" data-display="Select" class="option selected focus">Select</li>
                                          <li data-value="1" class="option">Type One</li>
                                          <li data-value="2" class="option">Type Two</li>
                                          <li data-value="3" class="option">Type Three</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <label>Load</label>
                                 <div class="select-box">
                                    <div class="nice-select wide" tabindex="0">
                                       <span class="current">Select</span>
                                       <ul class="list">
                                          <li data-value="Select" data-display="Select" class="option selected focus">Select</li>
                                          <li data-value="1" class="option">Load One</li>
                                          <li data-value="2" class="option">Load Two</li>
                                          <li data-value="3" class="option">Load Three</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="btn-area">
                                    <button class="primary-btn-2 btn-hover" type="submit">
                                       Get a Quote
                                       <i class="icon-42"></i>
                                       <span style="top: 147.172px; left: 108.5px;"></span>
                                    </button>
                                    <div class="call-us">
                                       <h5>Or Give us a call </h5>
                                       <a href="tel:+0123456789">+0123 4567 89</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="tab-pane fade" id="pills-ocean" role="tabpanel" aria-labelledby="pills-ocean-tab">
                        <div class="title-box mb-20">
                           <h5 class="section-sub-title">Request Form</h5>
                           <h2 class="section-title">Request Quote Form</h2>
                        </div>
                        <form action="#">
                           <div class="row">
                              <div class="col-lg-12">
                                 <label>Personal Information</label>
                                 <input type="text" placeholder="Name">
                              </div>
                              <div class="col-lg-6">
                                 <input type="email" placeholder="Email">
                              </div>
                              <div class="col-lg-6">
                                 <input type="tel" placeholder="Phone">
                              </div>
                              <div class="col-lg-12">
                                 <div class="km-range-area">
                                    <label>Distance In (Kilometer)</label>

                                    <div class="range-slider-3" data-range-min="50" data-range-max="500"
                                        data-limit="500" data-start-min="50" data-start-max="300"
                                        id="range-slider-3"></div>

                                    <div class="form-group">
                                        <div class="inner p-relative">
                                            <p><span id="max-value-rangeslider-3"></span> KM</p>
                                        </div>
                                    </div>

                                </div>
                              </div>
                              <div class="col-lg-6">
                                 <label>Freight Type</label>
                                 <div class="select-box">
                                    <div class="nice-select wide" tabindex="0">
                                       <span class="current">Select</span>
                                       <ul class="list">
                                          <li data-value="Select" data-display="Select" class="option selected focus">Select</li>
                                          <li data-value="1" class="option">Type One</li>
                                          <li data-value="2" class="option">Type Two</li>
                                          <li data-value="3" class="option">Type Three</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <label>Load</label>
                                 <div class="select-box">
                                    <div class="nice-select wide" tabindex="0">
                                       <span class="current">Select</span>
                                       <ul class="list">
                                          <li data-value="Select" data-display="Select" class="option selected focus">Select</li>
                                          <li data-value="1" class="option">Load One</li>
                                          <li data-value="2" class="option">Load Two</li>
                                          <li data-value="3" class="option">Load Three</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="btn-area">
                                    <button class="primary-btn-2 btn-hover" type="submit">
                                       Get a Quote
                                       <i class="icon-42"></i>
                                       <span style="top: 147.172px; left: 108.5px;"></span>
                                    </button>
                                    <div class="call-us">
                                       <h5>Or Give us a call </h5>
                                       <a href="tel:+0123456789">+0123 4567 89</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                   </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="req-form-content-area p-relative section-space-top pl-100">
                  <div class="title-box wow mb-20 fadeInRight" data-wow-delay="500ms">
                     <h5 class="section-sub-title">Our perfection</h5>
                     <h2 class="section-title mb-20">Perfect Solution For Your Business</h2>
                     <p class="mb-40">Proin efficitur, mauris vel condimentum pulvinar, velit orci consectetur ligula, eget egestas magna mi ut arcu. </p>
                  </div>
                  <div class="list-area">
                     <ul>
                        <li>Safe Shipping</li>
                        <li>Ship Everywhere</li>
                        <li>Fast Shipping</li>
                     </ul>
                     <ul>
                        <li>On Time Delivery</li>
                        <li>Cost Efficient</li>
                        <li>Zero Risk</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Request Form area end -->

   <!-- testimonials area start -->
   <section class="testimonials-3-section section-space p-relative">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="testimonials-3-content-area pr-160">
                  <div class="title-box wow fadeInRight" data-wow-delay="500ms">
                     <h5 class="section-sub-title">Client Reviews</h5>
                     <h2 class="section-title">Turning Challenges Into Shipments</h2>
                     <p class="pt-30 pb-30">some of the Reviews on our shipments that we have received</p>
                  </div>
                  <!-- If we need navigation buttons -->
                  <div class="testimonials-3-navigation-wrapper position-relative">
                     <div class="common-slider-navigation">
                        <button class="testimonial-2-button-prev"><i class="fal fa-arrow-left-long"></i></button>
                        <button class="testimonial-2-button-next"><i class="fal fa-arrow-right-long"></i></button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="swiper testimonial-2-active">
                  <div class="swiper-wrapper">
                     {% for i in reviews %}
                        <div class="swiper-slide">
                           <div class="testimonials-area is-black">
                              <div class="quote-icon"><i class="icon-25"></i></div>
                              <div class="author-area">
                                 <figure class="image">
                                    <img src="{{ i.image.url }}" alt="author">
                                 </figure>
                                 <div class="author-info">
                                    <h4>{{ i.name }}</h4>
                                    <span>Transportation Specialist</span>
                                    <ul class="ratings">
                                       <li class="fas fa-star"></li>
                                       <li class="fas fa-star"></li>
                                       <li class="fas fa-star"></li>
                                       <li class="fas fa-star"></li>
                                       <li class="fas fa-star"></li>
                                    </ul>
                                 </div>
                              </div>
                              <p>“{{ i.description }}”</p>
                           </div>
                        </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- testimonials area end -->

   <!-- video and faq area start -->
   <section class="videos-and-faq p-relative" data-background="{{ images.ask_question_background.url }}">
      <div class="shape-1">
         <img src="{% static 'imgs/resources/video-dot.png' %}" alt="video-shape-1">
      </div>
      <div class="vf-bg-white"></div>
      <div class="container">
         <div class="videos-and-faq-1 p-relative z-0">
            <figure class="image w-img">
               <img src="{{ video.image.url }}" alt="video-image">
               <img src="{{ video.image.url }}" alt="video-image">
            </figure>
            <div class="play-btn">
               <div class="video_player_btn">
                  <a href="{{ video.link }}" class="popup-video"><i class="icon-43"></i></a>
              </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-6">
               <div class="faq-2-content is-black p-relative section-space-medium">
                  <div class="title-box wow mb-60 fadeInRight" data-wow-delay="500ms">
                     <h5 class="section-sub-title">Ask Question</h5>
                     <h2 class="section-title">Transport All Of The <br>Logistics </h2>
                  </div>
                  <div class="vw-faq">
                     <div class="accordion" id="accordionExample-st-2">
                        <div class="vw-faq-group">
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne-st-2">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2" aria-expanded="false" aria-controls="collapseOne-st-2">
                                    <span>Q.1</span> What is the difference between freight and shipping?
                                 </button>
                              </h2>
                              <div id="collapseOne-st-2" class="accordion-collapse collapse" aria-labelledby="headingOne-st-2" data-bs-parent="#accordionExample-st-2">
                                 <div class="accordion-body">
                                    Sure, I'd be happy to help you with that. Could you please provide more details on what specific information you would like to include in your transport list question? For example.
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo-st-2">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2" aria-expanded="false" aria-controls="collapseTwo-st-2">
                                    <span>Q.2</span> How can I track my shipment?
                                 </button>
                              </h2>
                              <div id="collapseTwo-st-2" class="accordion-collapse collapse" aria-labelledby="headingTwo-st-2" data-bs-parent="#accordionExample-st-2">
                                 <div class="accordion-body">
                                    Sure, I'd be happy to help you with that. Could you please provide more details on what specific information you would like to include in your transport list question? For example.
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree-st-2">
                                 <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2" aria-expanded="true" aria-controls="collapseThree-st-2">
                                    <span>Q.3</span> What are the different modes of transportation for logistics?
                                 </button>
                              </h2>
                              <div id="collapseThree-st-2" class="accordion-collapse collapse show" aria-labelledby="headingThree-st-2" data-bs-parent="#accordionExample-st-2">
                                 <div class="accordion-body">
                                    Sure, I'd be happy to help you with that. Could you please provide more details on what specific information you would like to include in your transport list question? For example.
                                 </div>
                              </div>
                           </div>
                           <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour-st-2">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2" aria-expanded="false" aria-controls="collapseFour-st-2">
                                    <span>Q.4</span> What is the role of third-party logistics (3PL) providers?
                                 </button>
                              </h2>
                              <div id="collapseFour-st-2" class="accordion-collapse collapse" aria-labelledby="headingFour-st-2" data-bs-parent="#accordionExample-st-2">
                                 <div class="accordion-body">
                                    Sure, I'd be happy to help you with that. Could you please provide more details on what specific information you would like to include in your transport list question? For example.
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="vf-content-1 p-relative pl-120">
                  <div class="title-box wow mb-20 fadeInRight" data-wow-delay="500ms">
                     <h5 class="section-sub-title">Your Favorite’s destination</h5>
                     <h2 class="section-title mb-20">Transport All Of The World Connection </h2>
                     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                  </div>
                  <div class="list-area">
                     <ul>
                        <li>Faster & Reliable Execution</li>
                        <li>track my shipment</li>
                     </ul>
                  </div>
                  <a class="primary-btn-2 btn-hover" href="contact.html">
                     Get A Quote
                     <i class="icon-42"></i>
                     <span style="top: 147.172px; left: 108.5px;"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- video and faq area end -->

   <!-- work process area start -->
   <section class="work-process-section text-center section-space-top p-relative" data-background="{{ images.process_background.url }}">
      <div class="container">
         <div class="title-box wow mb-60 text-center fadeInRight" data-wow-delay="500ms">
            <h5 class="section-sub-title">Our Process</h5>
            <h2 class="section-title">How It Works</h2>
         </div>
         <div class="row justify-content-center">
            {% for i in process %}
               <div class="col-lg-2 col-md-2 mb-15">
                  <div class="work-process-box">
                     <div class="inner">
                        <div class="icon-box">
                           <img src="{{ i.svg.url }}" alt="icon">
                        </div>
                        <h5>{{ i.title }}</h5>
                     </div>
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
   </section>
   <!-- work process area end -->

   <!-- blog area start -->
   <section class="blog-section section-space p-relative">
      <div class="container">
         <div class="title-box wow mb-60 text-center fadeInRight" data-wow-delay="500ms">
            <h5 class="section-sub-title">Blog & News</h5>
            <h2 class="section-title">Unlocking The Potential <br>Of Logistics</h2>
         </div>
         <div class="swiper blog-1-active">
            <div class="swiper-wrapper">
               {% for i in blog %}
                  <div class="swiper-slide">
                     <div class="blog-area-1 p-relative">
                        <img src="{{ i.image.url }}" alt="blog-image" class="image w-img">
                        <div class="blog-content p-relative">
                           <hr>
                           <h4 class="blog-title"><a href="blog-details.html">{{ i.title }}</a></h4>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
            <!-- If we need pagination -->
         <div class="blog-1-dot-inner text-center p-relative mt-50">
            <div class="blog-1-swiper-dot"></div>
         </div>
      </div>
   </section>
   <!-- blog area end -->

{% endblock content %}