{% extends 'home/_base.html' %}
{% load static %}

{% block content %}

         <!-- Page title area start -->
         <div class="breadcrumb__area bg-color-2 p-relative" data-background="{{ images.track_background.url }}">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="breadcrumb__wrapper p-relative">
                        <div class="breadcrumb__menu">
                           <nav>
                              <ul>
                                 <li><span><a href="index.html">Home</a></span></li>
                                 <li><span>Track</span></li>
                              </ul>
                           </nav>
                        </div>
                        <h2 class="breadcrumb__title">Track</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Page title area end -->

         <!-- searching area start -->
         <section class="contact_page_section section_space">
            <div class="container">
               <form method="post">
                  {% csrf_token %}
                  <div class="row p-5">
                     <div class="col-4">
                        <label for="container_number">container number:</label>
                        <input type="text" id="container_number" name="container_number">
                        <button type="submit">Search</button>
                     </div>
                     <div class="col-4">
                        <label for="hbl_number">hbl number:</label>
                        <input type="text" id="hbl_number" name="hbl_number">
                        <button type="submit">Search</button>
                     </div>
                     <div class="col-4">
                        <label for="mbl_number">mbl number:</label>
                        <input type="text" id="mbl_number" name="mbl_number">
                        <button type="submit">Search</button>
                     </div>
                  </div>
               </form>
            </div>
         </section>
         <!-- searching area end -->

{% endblock content %}